#mudar_tema{
    text-align: right;
}
.botao_mudar{
    color: white;
    padding: 5px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Black Ops One';
    font-size: 18px;
}
.botao_mudar:active{
    transform: translatex(5px);
    transform: translateY(5px);
}
#corpo2{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    backdrop-filter: blur(2px);
    border: solid black 2px;
}
h3{
    font-family: 'Black Ops One';
    text-transform: uppercase;
    color: #F25050;
}
p{
    font-family: 'Expletus Sans';
    color: #F2CA50;
}
.titulo{
    font-family: 'Black Ops One';
    color: #F25050;
}
.informacoes{
    text-align: right;
    margin-top: -20px;
    margin-right: 10px;
    font-family: "Black Ops One";
    color: #F2CA50;
}
.foto{
    width: 280px;
    margin-left: 8%;
    border: solid black 2px;
    border-radius: 4px;
}
@media (min-width: 0px) and (max-width: 425px){
    .titulo{
        font-size: 24px;
        margin-top: 4px;
    }
    .informacoes{
        text-align: left;
        font-size: 12px;
    }
    .foto{
        width: 80%;
    }
    h3{
        font-size: 16px;
    }
    p{
        font-size: 14px;
    }
}
@media (min-width: 426px) and (max-width: 990px){
    .informacoes{
        text-align: right;
        font-size: 14px;
    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 18px;
    }
}
@media (min-width: 991px){
    .titulo{
        font-size: 30px;
    }
    .informacoes{
        text-align: right;
        font-size: 16px;
    }
    .foto{
        width: 340px;
    }
    h3{
        font-size: 24px;
    }
    p{
        font-size: 20px;
    }
}