#mudar_tema{
    text-align: right;
}
.botao_mudar{
    color: white;
    padding: 5px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Black Ops One';
    font-size: 18px;
}
.botao_mudar:active{
    transform: translatex(5px);
    transform: translateY(5px);
}
#sessao1, #sessao2, #sessao3, #sessao4, #sessao5{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    backdrop-filter: blur(2px);
    border: solid black 2px;
}
h3{
    font-family: 'Black Ops One';
    text-transform: uppercase;
    color: #F25050;
}
p{
    font-family: 'Expletus Sans';
    color: #F2CA50;
}
.titulo{
    font-family: 'Black Ops One';
    color: #F25050;
}
.informacoes{
    text-align: right;
    margin-top: -20px;
    margin-right: 10px;
    font-family: "Black Ops One";
    color: #F2CA50;
}
.foto{
    width: 280px;
    margin-left: 8%;
    margin-bottom: 5%;
    border-radius: 4px;
    padding-bottom: 5%;
    border: 2px groove #000000;
}
/* Responsividade Mobile */
@media (min-width: 320px) and (max-width: 480px){
    .titulo{
        font-size: 24px;
        margin-top: 4px;
    }
    .informacoes{
        text-align: left;
        font-size: 12px;
    }
    .foto{
        width: 80%;
        box-shadow: 0px 10px 13px 2px rgba(0,0,0,0.7);
        background: linear-gradient(100rad, rgba(98, 98, 98, 0.7), rgba(155, 197, 206, 0.7));
    }
    h3{
        font-size: 16px;
    }
    p{
        font-size: 14px;
    }
}
/* Responsividade Tablet */
@media (min-width: 481px) and (max-width: 768px){
    .informacoes{
        text-align: right;
        font-size: 14px;
    }
    #divFoto{
        text-align: center;
    }
    .foto{
        width: 60%;
        margin-left: 0%;
        margin-bottom: 5%;
        box-shadow: 0px 12px 13px 4px rgba(0,0,0,0.7);
        background: linear-gradient(100rad, rgba(98, 98, 98, 0.7), rgba(155, 197, 206, 0.7));
    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 18px;
    }
}
/* Responsividade Laptop */
@media (min-width: 769px) and (max-width: 1023px){
    .titulo{
        font-size: 30px;
    }
    .informacoes{
        text-align: right;
        font-size: 16px;
    }
    .foto{
        width: 34%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        box-shadow: 0px 14px 13px 8px rgba(0,0,0,0.7);
        background: linear-gradient(100rad, rgba(98, 98, 98, 0.7), rgba(155, 197, 206, 0.7));
    }
    h3{
        font-size: 24px;
    }
    p{
        font-size: 20px;
    }
}
/* Responsividade Desktop */
@media (min-width: 1024px) and (max-width: 1200px){
    .titulo{
        font-size: 30px;
    }
    .informacoes{
        text-align: right;
        font-size: 16px;
    }
    .foto{
        width: 34%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        box-shadow: 0px 18px 13px 10px rgba(0,0,0,0.7);
        background: linear-gradient(100rad, rgba(98, 98, 98, 0.7), rgba(155, 197, 206, 0.7));
    }
    h3{
        font-size: 24px;
    }
    p{
        font-size: 20px;
    }
}
/* Responsividade TV */
@media (min-width: 1201px){
    .titulo{
        font-size: 30px;
    }
    .informacoes{
        text-align: right;
        font-size: 16px;
    }
    .foto{
        width: 30%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        box-shadow: 0px 20px 13px 12px rgba(0,0,0,0.7);
        background: linear-gradient(100rad, rgba(98, 98, 98, 0.7), rgba(155, 197, 206, 0.7));
    }
    h3{
        font-size: 24px;
    }
    p{
        font-size: 20px;
    }
}