html{
    background-image: url("/img/pexels-jarod-lovekamp-5109718.jpg");
    background-size: cover;
}
#card1{
    background: rgba(217, 217, 217, 0.7);
    backdrop-filter: blur(2.5px); 
}
#nome{
    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    color: #2B2D39;
}
#informacoes{
    font-family: 'Lexend Mega';
    font-style: normal;
    font-weight: 400;
    color: #484F18;
}
#divFoto{
    background: linear-gradient(300deg, #626262 0%, rgba(155, 197, 195, 0) 100%);
    border-style: solid;
    border-color: #000000;
}
#card2, #card3, #card4, #card5{
    background: rgba(217, 217, 217, 0.7);
    backdrop-filter: blur(2.5px);
    margin-left: auto;
    margin-right: auto;
}
#objetivo, #formacao, #educacao, #idiomas{
    font-family: 'BIZ UDGothic';
    font-style: normal;
    font-weight: 700;
    color: #5E2012;
}
#card2 p, #card3 p, #card4 p, #card5 p{
    font-family: 'Expletus Sans';
    font-style: normal;
    font-weight: 400;
    color: #484F18;
}
#photographer p{
    text-align: right;
    font-family: 'Lexend Mega';
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
}
#photographer a{
    text-decoration: none;
    color: #ffffff;
}
#photographer a:hover{
    color: #BFBED1;
}
/* Responsividade Mobile */
@media (min-width: 320px) and (max-width: 480px){
    #card1{
        box-sizing: border-box;
        width: 85%;
        height: 182px;
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        border: 0.5px solid #000000;
        border-radius: 14px;
    }
    #nome{
        margin-top: -4px;
        margin-left: 22px;
        margin-right: 22px;
        font-size: 10px;
        text-align: center;
    }
    #informacoes{
        width: 120px;
        height: 21px;
        margin-top: 120px;
        margin-left: auto;
        margin-right: auto;
        font-size: 6px;
        line-height: 8px;
        text-align: center;
    }
    #divFoto{
        box-sizing: border-box;
        width: 40%;
        height: 94px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -130px;
        border-width: 0.5px 0px;
        border-radius: 10px;
    }
    .foto{
        width: 70%;
        height: 82px;
        margin-left: 18px;
        margin-right: 18px;
    }
    #social{
        width: 10px;
        height: 52px;
        margin-top: -70px;
        margin-left: 80%;
    }
    .instagram, .galeria, .github{
        width: 16px;
        height: 16px;
        margin-left: 25px;
    }
    #card2, #card3, #card4, #card5{
        box-sizing: border-box;
        width: 85%;
        margin-top: 23px;
        border: 0.5px solid #000000;
        border-radius: 14px;
    }
    #card2{
        height: 60px;
    }
    #card3{
        height: 73px;
    }
    #card4{
        height: 200px;
    }
    #card5{
        height: 60px;
        margin-bottom: 40px;
    }
    #objetivo, #formacao, #educacao, #idiomas{
        font-size: 12px;
        margin-left: 10px;
        margin-top: -5px;
    }
    #card2 p, #card3 p, #card4 p, #card5 p{
        font-size: 10px;
        margin-top: -10px;
        margin-left: 10px;
        width: 280px;
    }
    #card4 p{
        line-height: 18px;
    }
    #card5 p:nth-child(3){
        line-height: 10px;
    }
    #photographer p{
        font-size: 5px;
        margin-bottom: -5px;
    }
}
/* Responsividade Tablet */
@media (min-width: 481px) and (max-width: 768px){

}
/* Responsividade Laptop */
@media (min-width: 769px) and (max-width: 1023px){

}
/* Responsividade Desktop */
@media (min-width: 1024px) and (max-width: 1200px){

}
/* Responsividade TV */
@media (min-width: 1201px){
    #card1{
        box-sizing: border-box;
        width: 70%;
        height: 506px;
        margin-top: 130px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #000000;
        border-radius: 30px;
    }
    #nome{
        width: 80%;
        height: 52px;
        margin-top: 10px;
        margin-left: 50px;
        font-size: 28px;
        line-height: 55px;
    }
    #informacoes{
        width: 411px;
        height: 77px;
        margin-left: 450px;
        margin-top: 20px;
        font-size: 20px;
        line-height: 25px;
        text-align: right;
    }
    #divFoto{
        box-sizing: border-box;
        width: 346px;
        height: 266px;
        margin-left: 100px;
        margin-top: 10px;
        border-width: 1px 0px;
        border-radius: 30px;
    }
    .foto{
        width: 219px;
        height: 218px;
        margin-left: 60px;
    }
    #social{
        margin-top: -80px;
        margin-left: 570px;
    }
    .instagram, .galeria, .github{
        width: 50px;
        height: 50px;
        margin-left: 25px;
    }
    #card2, #card3, #card4, #card5{
        box-sizing: border-box;
        width: 70%;
        margin-top: 95px;
        border: 1px solid #000000;
        border-radius: 30px;
    }
    #card2{
        height: 215px;
    }
    #card3{
        height: 263px;
    }
    #card4{
        height: 610px;
    }
    #card5{
        height: 226px;
        margin-bottom: 90px;
    }
    #objetivo, #formacao, #educacao, #idiomas{
        font-size: 34px;
        line-height: 34px;
        margin-left: 36px;
    }
    #card2 p, #card3 p, #card4 p, #card5 p{
        font-size: 30px;
        line-height: 40px;
        margin-left: 36px;
        width: 824px;
    }
    #card5 p:nth-child(3){
        line-height: 0px;
    }
    #photographer p{
        font-size: 16px;
        margin-bottom: 0px;
    }
}